@{
	var userId = User.Identity.IsAuthenticated ? Context.User.Identity.Name : "anonymous";
	var notifications = await notificationService.GetAllAsync(userId);
}

<div id="notification-dropdown-button" data-type="dropdown" data-target="#notification-dropdown" class="btn-dropdown btn-notifications fa-solid fa-bell">
	@if (notifications.Any())
	{ 
		<div class="red-dot"></div>
	} 
</div>
<div id="notification-dropdown" class="notification-dropdown-container dropdown-container card">
	<div class="notification-dropdown">
		<div class="dropdown-header">
			<h5>Notifications</h5>
			<div class="notification-number">@notifications.Count()</div>
			
		</div>
		<div class="dropdown-line"></div>
		<div class="notifications">
			@foreach (var notification in notifications)
			{
				<div class="notification-item" data-id="@notification.Id">
					<img class="account-img" src="@notification.Icon" />
					<div class="notification-message">@notification.Message</div>
					<div class="time-stamp" data-created="@notification.Created.ToString("s")">@notification.Created</div>
					<button class="btn-x" onclick="dismissNotification('@notification.Id')"></button>
				</div>
			}
		</div>
	</div>
</div>




