@model ProjectEntity
@{
    var editProjectViewModel = ViewData["EditProjectViewModel"] as EditProjectViewModel;
}

<div class="card project-card" data-status-id="@Model.StatusId">
    <div class="horizontal horizontal-project">
        <div class="horizontal horizontal-project">
            @if (!string.IsNullOrEmpty(@Model.ProjectImagePath))
            {
                <img class="project-icon" src="@Url.Content(Model.ProjectImagePath)" alt="@Model.ProjectName" />
            }
            else
            {
                <img class="project-icon" src="~/ProjectImages/Icons/projectlogo.svg" alt="Project Image Placeholder" />
            }
            <div class="vertical">
                <h6>@Model.ProjectName</h6>
                <p class="p-light">@Model.Client?.ClientName</p>
            </div>
        </div>
        <button type="button" data-modal="true" class="btn-2-dots" id="btn-2-dots"></button>
        <div class="mini-modal" id="projectOptionsModal">
            <div class="modal-content options-pop-up" id="projectOptionsForm">
                <button type="button" data-controller="Project" data-action="EditProject" data-modal="true" data-target="#editProjectModal" data-id=@Model.ProjectId class="btn btn-options" id="btn-edit-project">Edit</button>
                <div class="single-line"></div>
                <button type="button" data-modal="true" data-target="#delete-project-modal" data-id="@Model.ProjectId" class="btn btn-options btn-options-delete" id="btn-delete-project">Delete project</button>
            </div>
        </div>
        
    </div>
    <div class="project-info vertical">
        <p>@Html.Raw(Model.Description ?? "")</p>
    </div>
    <div class="horizontal horizontal-project">
        <div class="time-left time-indicator @(Model.DaysRemaining < 0 ? "overdue" : (Model.DaysRemaining < 7 ? "due-soon" : "on-track"))"">
            <span>@Model.FormattedTimeRemaining</span>
        </div>
        <div class="horizontal horizontal-project" id="avatars">
            @if (Model.TeamMembers != null && Model.TeamMembers.Any())
            {
                @foreach (ProjectEmployeeEntity projectEmployee in Model.TeamMembers)
                {
                    <div class="avatar-container">
                        @if (!string.IsNullOrEmpty(projectEmployee.Employee.ProfileImagePath))
                        {
                            <img class="team-avatar" src="@Url.Content(projectEmployee.Employee.ProfileImagePath)" alt="@projectEmployee.Employee.FirstName" />
                        }
                        else
                        {
                            <img class="team-avatar" src="~/ProjectImages/Icons/avatar2.svg" alt="@projectEmployee.Employee.FirstName"  />
                        }
                    </div>
                }
            }
            else
            {
                <p class="small-text">No team members assigned</p>
            }
        </div>
    </div>
</div>
